:root{
    --bright-blue: #3882F6;
    --bright-blue-highlight: #5694f6;
    --grey: #E5E7Eb;
    --dark-grey: #B8B8B8;
    --dark-blue: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    font-family: "Roboto", sans-serif;
}

.section-top {
    background: var(--dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
}

header, .section-top > div {
    width: 70vw;
}

header {
    margin: 20px auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header .logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
}

header li:not(.logo):hover {
    cursor: pointer;
}

.feature {
    display: flex;
    margin: 100px auto;
    gap: 40px;
}

.feature div {
    flex: 1;
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    align-self: center;
}

.feature-text h1{
    font-size: 2rem;
}

.feature-text button {
    color: white;
    background-color: var(--bright-blue);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.feature-text button:hover {
    cursor: pointer;
    background-color: var(--bright-blue-highlight);
}

.feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    padding-bottom: 12%;
    padding-top: 12%
}

.section-middle-top {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-middle-top h1 {
    font-size: 2rem;
    margin-top: 50px;
}

.section-middle-top > div {
    margin: 50px auto 100px auto;
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

.box-container {
    width: 20%;
}

.box-container p {
    margin-top: 20px;
    text-align: center;
}

.box {
    min-height: 50px;
    min-width: 50px;
    padding: 50% 0;
    flex: 3;
    outline: 3px solid var(--bright-blue);
    outline-offset: -3px;
    border-radius: 5px;
}

.section-middle-bottom {
    background-color: var(--grey);

}

.quote {
    width: 70vw;
    margin: auto;
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
}

.quote blockquote {
    font-style: italic;
    font-size: 2rem;
}

.quote p {
    font-weight: bold;
    align-self: flex-end;
}

.section-bottom {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-bottom > div {
    margin: 100px auto;
    width: 70vw;
}

.banner {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: var(--bright-blue);
    width: 80%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
}

.banner button {
    background-color: var(--bright-blue);
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner button:hover {
    background-color: var(--bright-blue-highlight);
    cursor: pointer;
}

footer {
    background-color: var(--dark-blue);
    padding: 30px;
    color: white;
    text-align: center;
}

